:root {
  --background-primary-color: #FFF;
  --background-secundary-color: #F5F5F5;
  --background-terciary-color: #000000;

  --primary-color: #8F0101;
  --secundary-color: #B81515;

  --text-primary-color: #222;
  --text-secundary-color: #FFF;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: var(--background-terciary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 38px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.logo-desktop {
  display: none;
}

.navigation-menu {
  margin-top: 10px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-terciary-color);
}

.list-links {
  list-style: none;
}

.list-links li {
  margin: 16px;
}

.list-links li a {
  color: var(--text-secundary-color);
  font-weight: var(--menu-text-weight);
  font-size: 20px;
}

nav {
  display: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  width: 312px;
  margin: 0 auto 64px;
}

.section-title {
  width: 280px;
  margin: 0 auto 32px;
  font-weight: var(--title-weight);
}

section.hero {
  width: 100%;
}

.section-title h2{
  font-size: 28px;
  font-weight: var(--title-wight);
  margin: 0;
  text-align: center;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secundary-color);
  border: none;
  margin: 16px auto 32px;
}

.destinations-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
 
.destinations-items .item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.destinations .item .img-item {
  width: 100%;
  height: 368px;
}

.destinations .item.tokyo .img-item {
  background: url(../img/tokyo-mobile.jpg);
  background-size: cover;
}

.destinations .item.osaka .img-item {
  background: url(../img/osaka-mobile.jpg);
  background-size: cover;
 
}

.destinations .item .header-item h3 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 24px 0;
}

.destinations .item p {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 1.5;
  margin-bottom: 24px;
}

.destinations .footer-item .button {
  display: block;
  width: 100%;
  text-align: center;
}

.button {
  min-width: 280px;
  height: 64px;
  color: var(--text-secundary-color);
  background-color: var(--secundary-color);
  font-weight: var(--title-weight);
  font-size: 20px;
  padding: 16px 60px;
  border-radius: 12px;
  text-align: center;
}

footer {
  width: 100%;
  height: 350px;
  background-color: var(--background-terciary-color);
  color: var(--background-primary-color);
}

.footer-main {
  text-align: center;
padding: 34px 60px;}

.footer-main p {
  font-weight: var(--text-weight);
  font-size: 14px;
  margin: 24px 0 0;
  line-height: 2;
}

.footer-main .social-media-items {
  margin: 10px 0 0;
}

.footer-main .social-media-items .list-social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

@media screen and (min-width: 768px) {

  section {
    width: 648px;
  }

  .section-title {
  width: 100%;
}
  .section-title h2{
    font-size: 32px;
  }

  .destinations {
  width: 648px;
}

.destinations .item .img-item {
  width: 100%;
  height: 452px
}

.destinations .item.tokyo .img-item {
  background: url(../img/tokyo-tablet-desk.jpg);
  background-size: cover;
}

.destinations .item.osaka .img-item {
  background: url(../img/osaka-tablet-desk.jpg);
  background-size: cover;
}

.destinations .footer-item .button {
  width: 280px;
  
}
}

@media screen and (min-width: 1024px) {
  section {
    width: 900px;
  }
}

@media screen and (min-width: 1440px) {
  section {
    width: 1400px;
  }

  .footer-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.footer-main .footer-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer-main  p {
  font-size: 18px;
}
}

@media screen and (min-width: 1440px) {
  .footer-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-main  p {
  font-size: 20px;
}

.footer-main .social-media-items .list-social-media img {
  width: 40px;
  height: 40px;
}
}

@media screen and (min-width: 2560px) {

  footer {
    height: 380px;
  }
 
  .footer-main .footer-content img {
    width: 324px;
    height: 80px;
  
}

  .footer-main .social-media-items .list-social-media img {
  width: 60px;
  height: 60px;
}

  .footer-main {
  padding: 0 160px;
}

.footer-main  p {
  font-size: 32px;
}
}