:root {
  --background-primary-color: #FFF;
  --background-secundary-color: #F5F5F5;
  --background-terciary-color: #000000;

  --primary-color: #8F0101;
  --secundary-color: #B81515;

  --text-primary-color: #222;
  --text-secundary-color: #FFF;

  --title-wight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
}

.section-title h2{
  font-size: 28px;
  font-weight: var(--title-wight);
  margin: 0;
  text-align: center;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secundary-color);
  border: none;
  margin: 16px auto 32px;
}

@media screen and (min-width: 768px) {
  .section-title h2{
    font-size: 32px;
  }
}