:root {
  --background-primary-color: #FFF;
  --background-secundary-color: #F5F5F5;
  --background-terciary-color: #000000;

  --primary-color: #8F0101;
  --secundary-color: #B81515;

  --text-primary-color: #222;
  --text-secundary-color: #FFF;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  width: 312px;
  margin: 0 auto 64px;
}

.section-title {
  width: 280px;
  margin: 0 auto 32px;
  font-weight: var(--title-weight);
}

section.hero {
  width: 100%;
}

.section-title h2{
  font-size: 28px;
  font-weight: var(--title-wight);
  margin: 0;
  text-align: center;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secundary-color);
  border: none;
  margin: 16px auto 32px;
}

footer {
  width: 100%;
  height: 380px;
  background-color: var(--background-terciary-color);
  color: var(--background-primary-color);
}

@media screen and (min-width: 768px) {

  section {
    width: 648px;
  }

  .section-title {
  width: 100%;
}
  .section-title h2{
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  section {
    width: 900px;
  }
}

@media screen and (min-width: 1440px) {
  section {
    width: 1400px;
  }
}